/* Loader CSS */

.loader {
    color: #fff;
    display: inline-block;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    letter-spacing: 4px;
    box-sizing: border-box;
}
.loader::before {
    content: "";
    position: absolute;
    right: 68px;
    bottom: 10px;
    height: 24px;
    width: 7px;
    outline: 1px solid #fff;
    color: rgb(0, 132, 255);
    box-sizing: border-box;
    animation: animloader1 1s linear infinite alternate;
}
.loader::after {
    content: "";
    width: 4px;
    height: 4px;
    background: rgb(0, 132, 255);
    position: absolute;
    right: 70px;
    top: 8px;
    box-sizing: border-box;
    animation: animloader 1s ease-out infinite alternate;
}

@keyframes animloader {
    0% {
        top: 8px;
        transform: rotate(0deg) scale(1);
    }
    100% {
        top: 0px;
        transform: rotate(180deg) scale(1.5);
    }
}

@keyframes animloader1 {
    0% {
        box-shadow: 0 0 inset;
    }
    100% {
        box-shadow: 0 -28px inset;
    }
}

/* NotFound */

/* FACE */
.face {
    width: 300px;
    height: 300px;
    border: 4px solid #383a41;
    border-radius: 10px;
    background-color: #ffffff;
    margin: 100px auto 0;
    position: relative;
}

@media screen and (max-width: 400px) {
    .face {
        margin-top: 40px;
        transform: scale(0.8);
    }
}

/* BAND */
.face .band {
    width: 350px;
    height: 27px;
    border: 4px solid #383a41;
    border-radius: 5px;
    margin-left: -25px;
    margin-top: 50px;
    position: relative;
}

.face .band .red {
    height: calc(100% / 3);
    width: 100%;
    background-color: #eb6d6d;
}

.face .band .white {
    height: calc(100% / 3);
    width: 100%;
    background-color: #ffffff;
}

.face .band .blue {
    height: calc(100% / 3);
    width: 100%;
    background-color: #5e7fdc;
}

.face .band:before {
    content: "";
    display: block;
    width: 30px;
    height: 27px;
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
}

.face .band:after {
    content: "";
    display: block;
    width: 30px;
    height: 27px;
    background-color: rgba(56, 58, 65, 0.3);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
}

/* EYES */
.face .eyes {
    width: 128px;
    margin: 40px auto 0;
    text-align: center;
    position: relative;
}

.face .eyes:before,
.face .eyes:after {
    content: "";
    display: inline-block;
    width: 30px;
    height: 15px;
    border: 7px solid #383a41;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
    border-bottom: 0;
}

.face .eyes:before {
    margin-right: 20px;
}

.face .eyes:after {
    margin-left: 20px;
}

/* DIMPLES */
.face .dimples {
    width: 180px;
    margin: 15px auto 0;
    text-align: center;
}

.face .dimples:before,
.face .dimples:after {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(235, 109, 109, 0.4);
}

.face .dimples:before {
    margin-right: 80px;
}

.face .dimples:after {
    margin-left: 80px;
}

/* MOUTH */
.face .mouth {
    width: 40px;
    height: 5px;
    border-radius: 5px;
    background-color: #383a41;
    margin: 25px auto 0;
}

/* TEXT & BUTTON */
h4 {
    font-weight: 800;
    color: #383a41;
    text-align: center;
    font-size: 2.5em;
    padding-top: 20px;
}

@media screen and (max-width: 400px) {
    h4 {
        padding: 0 20px;
        font-size: 2em;
    }
}

.btn {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    padding: 20px;
    background-color: #5e7fdc;
    color: #fff;
    width: 320px;
    margin: 80px auto 50px;
    text-align: center;
    font-size: 1.2em;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s linear;
}

@media screen and (max-width: 400px) {
    .btn {
        width: 200px;
        margin-top: 60px;
    }
}

.btn:hover {
    background-color: rgba(94, 127, 220, 0.8);
}
